{# templates/roadtrip/configure.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Configure Roadtrip{% endblock %}

{% block body %}

    <div class="flex flex-col">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert {{ label }} mt-6" role="alert">
                    {{ message }}
                    <button type="button" class="close-button" data-dismiss="alert" aria-label="Close">&times;</button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="flex flex-col mb-20">

        <h1 class="mt-20">{{ roadtrip.title ?? 'My roadtrip to ' ~ country.name }}</h1>

        <div class="flex flex-row gap-3">
            <p>{{ roadtrip.startDate|date('Y-m-d') }}</p>
            <p>-</p>
            <p>{{ roadtrip.endDate|date('Y-m-d') }}</p>
        </div>

        <div class="flex flex-wrap gap-4 mt-10">
            {% for day in days %}
                <button class="btn btn-green-outlined {{ day == 1 ? 'active' : '' }}" data-day="{{ day }}">Day {{ day }}</button>
            {% endfor %}
        </div>

        <div class="flex flex-row mt-10 gap-10" id="waypoints-container">
            {% for waypoint in waypoints %}
                <div class="flex flex-col p-6 border-2 border-orange rounded-8 shadow-md waypoint w-1/2 flex-wrap" data-day="{{ waypoint.day }}" style="{{ waypoint.day != 1 ? 'display:none;' : '' }}">
                    <h2>{{ waypoint.locationName }}</h2>
                    <p>{{ waypoint.description }}</p>
                    <p class="flex flex-row items-center gap-2 text-primary mt-4 p-2 px-4 rounded-8 bg-dark-orange"><i class="fa-solid fa-circle-info"></i>{{ waypoint.advice }}</p>
                    <p class="mt-2">Best Times to visit: {{ waypoint.bestHours }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="flex flex-row p-10 border border-orange rounded-20 gap-10">

        <div class="flex flex-col gap-6">
            <button class="btn btn-orange-outlined active:bg-orange">Activities</button>
            <button class="btn btn-orange-outlined">Accommodations</button>
            <button class="btn btn-orange-outlined">Restaurants</button>
            <button class="btn btn-orange-outlined">Useful Tips</button>
        </div>

        <div class="flex flex-col">
            <h3>Here need to come the text from the burron that is selected</h3>

        </div>

    </div>



        {% for place in places %}
            <h3>{{ place.name }}</h3>
            <p>{{ place.description }}</p>
            <div class="w-14">
            <img src='{{ place.photoUrl }}' class="w-14"/>
            </div>
        {% endfor %}

            <div id="container">
                <div id="map"></div>
                    <div id="sidebar">
                            <div>
                                <b>Start:</b>
                                <select id="start">
                                    {% for waypoint in waypoints %}
                                        <option value="{{ waypoint.latitude }},{{ waypoint.longitude }}" data-title="{{ waypoint.locationName }}">{{ waypoint.locationName }}</option>
                                    {% endfor %}
                                </select>
                                <br />
                                <b>Waypoints:</b> <br />
                                <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br />
                                <select multiple id="waypoints">
                                    {% for waypoint in waypoints %}
                                        {% if not loop.first and not loop.last %}
                                            <option value="{{ waypoint.latitude }},{{ waypoint.longitude }}" data-title="{{ waypoint.locationName }}">{{ waypoint.locationName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <br />
                                <b>End:</b>
                                <select id="end">
                                    {% for waypoint in waypoints %}
                                        <option value="{{ waypoint.latitude }},{{ waypoint.longitude }}" data-title="{{ waypoint.locationName }}">{{ waypoint.locationName }}</option>
                                    {% endfor %}
                                </select>
                                <br />
                                <input type="submit" id="submit" />
                            </div>
                        <div id="directions-panel"></div>
                    </div>
                </div>
            <div id="roadtripMap" class="mt-36 rounded-20" style="height: 500px; width: 100%;"></div>

        {% for waypoint in waypoints %}
            <h2>{{ waypoint.locationName }}</h2>
            <strong>{{ waypoint.description }}</strong>

            <p>{{ waypoint.advice }}</p>
            <p>{{ waypoint.bestHours }}</p>
            <p>{{ waypoint.distance }}</p>
            <p>{{ waypoint.latitude }}</p>
            <p>{{ waypoint.longitude }}</p>
        {% endfor %}

        <h2>Configure Waypoints</h2>
        <a href="{{ path('app_roadtrip_view', {'id': roadtrip.id}) }}" class="btn btn-success">Save and View</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('roadtripConfigurator') }}
{% endblock %}
