{% extends 'base.html.twig' %}

{% block title %}Hello RoadtripController!{% endblock %}

{% block body %}

    <h1>{{ roadtrip.title }}</h1>
    <p>Start Date: {{ roadtrip.startDate|date('Y-m-d') }}</p>
    <p>End Date: {{ roadtrip.endDate|date('Y-m-d') }}</p>
    <p>Budget: {{ roadtrip.budget }}</p>
    <p>Whole Roadtrip: {{ roadtrip }}</p>
    
    <h2>Generated Roadtrip Details</h2>
    <pre>{{ roadtrip.openAiOutput|json_encode }}</pre>

{% endblock %}
