{# templates/roadtrip/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'roadtrip.new.page_title'|trans|raw }}{% endblock %}

{% block body %}
    <div class="p-10 md:p-16 my-12 border-2 border-green dark:border-orange rounded-20">

        <h1 class="mb-3 text-start">{{ 'roadtrip.new.heading'|trans }}</h1>
        <p class="mb-6 text-start">{{ 'roadtrip.new.description'|trans }}</p>

        <!-- flash_messages.html.twig -->
        <div class="flex flex-col">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert {{ label }} mb-6" role="alert">
                        {{ message }}
                        <button type="button" class="close-button" data-dismiss="alert" aria-label="Close">&times;</button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <!-- Loader -->
        <div id="loader" class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center">
            <div class="text-center">
                <div class="loader ease-linear rounded-full border-4 border-t-4 border-orange-500 h-24 w-24 mb-4"></div>
                <h2 class="text-xl font-semibold text-white">Loading...</h2>
                <p class="w-1/3 mx-auto text-white">Please wait while we process your request. This may take up to a minute.</p>
            </div>
        </div>

        {{ form_start(form, { 'attr': { 'class': 'space-y-6' } }) }}

        <div class="flex flex-wrap">
            <div class="w-full flex flex-col md:flex-row gap-6">

                <!-- Picture Placeholder -->
                <div class="w-full md:w-2/5">
                    <img src="{{ asset('build/images/mountains-view.jpg')}}" alt="Roadtrip Image" class="rounded-20 w-full h-full object-cover hidden md:flex">
                </div>

                <div class="w-full md:w-3/5 flex flex-col content-end 2xl:px-24 2xl:gap-10 gap-6">

                    <div class="w-full flex flex-col lg:flex-row gap-6 2xl:gap-10 mb-8">
                        <div class="w-full lg:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-location-dot fa-lg mr-2"></i> Starting Point
                            </label>
                            <div class="relative">
                                {{ form_widget(form.starting_point, {'attr': {'class': 'form-select appearance-none text-light-grey'}}) }}
                                <i class="fa-solid fa-chevron-down fa-lg input-icon"></i>
                            </div>
                            {{ form_errors(form.starting_point) }}
                        </div>

                        <div class="w-full lg:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-map-location-dot fa-lg mr-2"></i> Destination Country
                            </label>
                            <div class="relative">
                                {{ form_widget(form.country, {'attr': {'class': 'form-select appearance-none text-light-grey'}}) }}
                                <i class="fa-solid fa-chevron-down fa-lg input-icon"></i>
                            </div>
                            {{ form_errors(form.country) }}
                        </div>
                    </div>

                    <div class="w-full mb-8">
                        <label class="inline-block text-xl font-normal text-primary mb-3">
                            <i class="fa-solid fa-user-group fa-lg mr-2"></i> Travel Crew
                        </label>
                        {{ form_widget(form.travelers, {'attr': {'class': 'form-input text-black-neutral'}}) }}
                        {% if form.travelers.vars.errors|length > 0 %}
                            <div class="text-orange mt-3">
                                {{ form_errors(form.travelers) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="w-full flex flex-col md:flex-row gap-6  2xl:gap-10 mb-8">
                        <div class="w-full md:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-calendar fa-lg mr-2"></i> Start Date
                            </label>
                            <div class="relative">
                                {{ form_widget(form.start_date, {'attr': {'class': 'form-input text-light-grey', 'placeholder': form.start_date.vars.attr.placeholder}}) }}
                                <i class="fa-solid fa-calendar fa-lg input-icon px-5"></i>
                            </div>
                            <div class="text-orange mt-3">
                                {{ form_errors(form.start_date) }}
                            </div>
                        </div>

                        <div class="w-full md:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-calendar fa-lg mr-2"></i> End Date
                            </label>
                            <div class="relative">
                                {{ form_widget(form.end_date, {'attr': {'class': 'form-input text-light-grey', 'placeholder': form.end_date.vars.attr.placeholder}}) }}
                                <i class="fa-solid fa-calendar fa-lg input-icon px-5"></i>
                            </div>
                            <div class="text-orange mt-3">
                                {{ form_errors(form.end_date) }}
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-col md:flex-row gap-6 2xl:gap-10 mb-8">
                        <div class="w-full md:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-home fa-lg mr-2"></i> Start from Home?
                            </label>
                            <div class="flex items-center space-x-4">
                                {% for choice in form.start_from_home %}
                                    <div class="flex items-center">
                                        {{ form_widget(choice, {'attr': {'class': 'appearance-none form-radio checked:bg-light-green rounded-full border-2 border-light-green'}}) }}
                                        {{ form_label(choice, null, {'label_attr': {'class': 'ml-2 text-base font-medium text-primary'}}) }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-orange mt-3">
                                {{ form_errors(form.start_from_home) }}
                            </div>
                        </div>

                        <div class="w-full md:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-car fa-lg mr-2"></i> Need a Rental Car?
                            </label>
                            <div class="flex items-center space-x-4">
                                {% for choice in form.rent_car %}
                                    <div class="flex items-center">
                                        {{ form_widget(choice, {'attr': {'class': 'appearance-none form-radio checked:bg-light-green rounded-full border-2 border-light-green'}}) }}
                                        {{ form_label(choice, null, {'label_attr': {'class': 'ml-2 text-base font-medium text-primary'}}) }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-orange mt-3">
                                {{ form_errors(form.rent_car) }}
                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-col lg:flex-row gap-6  2xl:gap-10 mb-8">
                        <div class="w-full lg:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-car-side fa-lg mr-2"></i> Select Your Ride
                            </label>
                            <div class="relative">
                                {{ form_widget(form.vehicle, {'attr': {'class': 'form-select appearance-none text-light-grey'}}) }}
                                <i class="fa-solid fa-chevron-down fa-lg input-icon"></i>
                            </div>
                            <div class="text-orange mt-3">
                                {{ form_errors(form.vehicle) }}
                            </div>
                        </div>

                        <div class="w-full lg:w-1/2">
                            <label class="inline-block text-xl font-normal text-primary mb-3">
                                <i class="fa-solid fa-piggy-bank fa-lg mr-2"></i> Trip Budget
                            </label>
                            <div class="relative">
                                {{ form_widget(form.cost_preferences, {'attr': {'class': 'form-select appearance-none text-light-grey '}}) }}
                                <i class="fa-solid fa-chevron-down fa-lg input-icon"></i>
                            </div>
                            {{ form_errors(form.cost_preferences) }}
                        </div>
                    </div>

                    <div class="w-full mb-8">
                        <label class="inline-block text-xl font-normal text-primary mb-3">
                            <i class="fa-solid fa-road fa-lg mr-2"></i> Distance
                        </label>
                        <div class="relative">
                            {{ form_widget(form.distance, {'attr': {'class': 'form-select appearance-none text-light-grey '}}) }}
                            <i class="fa-solid fa-chevron-down fa-lg input-icon"></i>
                        </div>
                        {{ form_errors(form.distance) }}
                    </div>

                    <div class="w-full">
                        <label class="inline-block text-xl font-normal text-primary mb-3">
                            {{ form_label(form.roadtrip_types, null, {'label_attr': {'class': 'text-xl font-normal text-primary mb-3'}}) }}
                        </label>
                        <div class="text-orange mb-3">
                            {{ form_errors(form.roadtrip_types) }}
                        </div>
                        <div class="flex flex-wrap space-x-2">
                            {% for child in form.roadtrip_types %}
                                <div class="flex items-center m-2">
                                    {{ form_widget(child, {'attr': {'class': 'hidden'}}) }}
                                    <label for="{{ child.vars.id }}" class="flex items-center gap-2 bg-transparent duration-300 hover:border-light-green hover:bg-light-green dark:hover:bg-light-orange hover:text-invert text-primary font-medium py-2 px-4 border border-primary rounded-full cursor-pointer">
                                        <i class="fa-solid fa-map-marker-alt"></i>
                                        <span>{{ child.vars.label }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="w-full justify-end align-end items-end">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-green justify-end align-end items-end'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}