{% extends 'base.html.twig' %}

{% block title %}{{ 'explore_trips.page_title'|trans|raw }}{% endblock %}

{% block main %}

        <!-- Hero Block -->
        <div class="relative w-full rounded-20 overflow-hidden -mt-10">
            <img src="{{ asset('build/images/explore-trips-hero.jpg')}}" alt="" class="object-cover w-full min-h-[30rem] lg:max-h-[40rem] rounded-20 transition-transform duration-1000 hover:scale-105">      
                <div class="flex flex-col absolute inset-0 md:ml-20 md:w-3/5 px-4 lg:px-0 xl:px-0 xl:w-1/2 2xl:px-0 lg:w-3/5 lg:ml-20xl 2xl:w-[40rem] justify-center text-neutral gap-8 z-[1] pointer-events-auto">
                    <h1>{{ 'explore_trips.hero.title'|trans }}</h1> 
                    <strong>{{ 'explore_trips.hero.description'|trans }}</strong>
                    <div class="flex flex-row gap-6">
                    </div>       
                </div> 
        </div>

        <!-- Search Block -->
        <div class="flex relative justify-center content-center items-center text-primary bg-[rgba(229,231,235,0.98)] dark:bg-[rgba(18,18,18,0.9)] rounded-20 shadow-xl w-full md:w-auto mt-8 lg:-mt-24 z-10">
            <div class="flex flex-col items-start px-6 py-4 lg:px-8 lg:py-8 gap-2 md:gap-4">
                <div class="flex items-start md:items-end flex-col md:flex-row content-center flex-wrap justify-between md:justify-center gap-8 2xl:gap-16 pb-6">
                    <div class="flex items-center gap-2">
                        <div class="flex flex-col gap-2 md:gap-4">
                            <div class="flex flex-row items-center gap-2">
                                <i class="fa-solid fa-location-dot fa-lg"></i>
                                <span class="font-semibold text-lg">{{ 'explore_trips.search.destination.label'|trans }}</span>
                            </div>
                            <div class="relative">
                                <select class="appearance-none text-primary px-4 py-2 rounded-full bg-primary border focus:outline-none pr-10">
                                    <option value="all_destinations" disabled selected>{{ 'explore_trips.search.destination.placeholder'|trans }}</option>
                                    <option value="destination1">Destination 1</option>
                                    <option value="destination2">Destination 2</option>
                                    <option value="destination3">Destination 3</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary">
                                    <i class="fa-solid fa-chevron-down pr-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="flex flex-col gap-2 md:gap-4">
                            <div class="flex flex-row items-center gap-2">
                                <i class="fa-solid fa-filter fa-lg"></i>
                                <span class="font-semibold text-lg">{{ 'explore_trips.search.type.label'|trans }}</span>
                            </div>
                            <div class="relative">
                                <select class="appearance-none text-primary px-4 py-2 rounded-full bg-primary border border-primary pr-20">
                                    <option value="" disabled selected>{{ 'explore_trips.search.type.placeholder'|trans }}</option>
                                    <option value="adventure">Adventure</option>
                                    <option value="relaxation">Relaxation</option>
                                    <option value="sightseeing">Sightseeing</option>
                                    <option value="family">Family</option>
                                    <option value="romantic">Romantic</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-4 text-primary">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="flex items-center justify-center gap-2 btn-secondary btn-green w-full md:w-auto">{{ 'explore_trips.search.button'|trans }}<i class="fa-solid fa-search text-white"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Flex Container -->
        <div class="flex flex-col lg:flex-row items-start gap-6 mt-44 w-full">

            <!-- Card Component 1 -->
            <a href="path/to/your/link" class="block relative max-w-md rounded-20 overflow-hidden shadow-lg transition-transform duration-500 group cursor-pointer">
                <div class="relative overflow-hidden rounded-20 h-[40rem]">
                    <img class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" src="{{ asset('build/images/explore-trips-hero.jpg')}}" alt="Road Trip Image">
                    <!-- Gradient Overlay -->
                    <div class="overlay absolute inset-0 transition-opacity duration-500"></div>
                </div>
                <div class="absolute inset-0 flex flex-col justify-end p-6">
                    <h2 class="font-metropolis text-neutral text-2xl mb-2">The Vespa Trip Brugge</h2>
                    <p class="font-poppins text-neutral mb-4">2-day Vespa-adventure in Brugge</p>
                    <div class="flex justify-between items-center">
                        <button class="btn btn-white-text flex gap-2 items-center group">
                            View trip
                            <i class="fa-solid fa-arrow-right ml-2 transform transition-transform duration-300 group-hover:translate-x-2"></i>
                        </button>
                        <span class="text-neutral font-semibold">vanaf €185</span>
                    </div>
                </div>
            </a>

            <!-- Card Component 1 -->
            <a href="path/to/your/link" class="block relative max-w-md rounded-20 overflow-hidden shadow-lg transition-transform duration-500 group cursor-pointer">
                <div class="relative overflow-hidden rounded-20 h-[40rem]">
                    <img class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" src="{{ asset('build/images/explore-trips-hero.jpg')}}" alt="Road Trip Image">
                    <!-- Gradient Overlay -->
                    <div class="overlay absolute inset-0 transition-opacity duration-500"></div>
                </div>
                <div class="absolute inset-0 flex flex-col justify-end p-6">
                    <h2 class="font-metropolis text-neutral text-2xl mb-2">The Vespa Trip Brugge</h2>
                    <p class="font-poppins text-neutral mb-4">2-day Vespa-adventure in Brugge</p>
                    <div class="flex justify-between items-center">
                        <button class="btn btn-white-text flex gap-2 items-center group">
                            View trip
                            <i class="fa-solid fa-arrow-right ml-2 transform transition-transform duration-300 group-hover:translate-x-2"></i>
                        </button>
                        <span class="text-neutral font-semibold">vanaf €185</span>
                    </div>
                </div>
            </a>

        </div>
{% endblock %}
