<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://kit.fontawesome.com/93e054a147.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>

  <body class="font-poppins flex flex-col justify-center items-center bg-primary text-primary">

    {% block nav %}
    <nav class="w-11/12 lg:w-3/4 flex flex-row items-center justify-between flex-wrap bg-primary rounded-full px-9 py-4 mt-8 border border-neutral shadow-lg">

      <div class="text-primary">
        <span class="font-semibold text-4xl tracking-tight self-start flex-grow cursor-pointer">{{ 'app.logo'|trans }}</span>
      </div>
      
      <div class="flex flex-row">
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-secondary border-secondary hover:text-neutral hover:border-neutral">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>

        <div class="lg:flex lg:items-center lg:w-auto lg:gap-8 hidden">

          <div class="text-base lg:flex-grow">
            <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-primary duration-700 hover:underline mr-4">{{ 'navigation.discover'|trans }}</a>
            <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-primary duration-700 hover:underline mr-4">{{ 'navigation.plan'|trans }}</a>
            <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-primary duration-700 hover:underline">{{ 'navigation.about'|trans }}</a>
          </div>

          <div class="flex">
            <button href="#" class="btn-secondary btn-green-text">{{ 'navigation.login'|trans }}</button>
            <button href="#" class="btn-secondary btn-orange flex items-center ml-2 gap-2">{{ 'navigation.register'|trans }}<i class="fa-solid fa-circle-arrow-right fa-lg"></i></button>
          </div>

        </div>

        <div>
            <button class="moon cursor-pointer px-4 mx-2 py-2 border border-primary rounded-full text-primary self-end hover:text-invert hover:bg-invert duration-500"><i class="fa-solid fa-moon"></i></button>
            <button class="sun cursor-pointer px-4 mx-2 py-2 border border-primary rounded-full text-primary self-end hover:text-invert hover:bg-invert duration-500"><i class="fa-solid fa-sun"></i></button>
        </div>

      </div>
    </nav>
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}

      <footer class="w-11/12 lg:w-3/4 flex flex-col lg:flex-row  gap-20 items-top justify-between pt-10 pb-24 px-16 mt-8 border border-neutral shadow-lg rounded-t-3xl">

        <div class="flex flex-col justify-items-start gap-4">
          <span class="font-semibold text-4xl tracking-tight self-start flex-grow">{{ 'app.logo'|trans }}</span>
          <div class="text-base lg:flex-grow">
            <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-primary duration-700 hover:underline mr-4 mt-3">{{ 'navigation.discover'|trans }}</a>
            <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-primary duration-700 hover:underline mr-4 mt-3">{{ 'navigation.plan'|trans }}</a>
            <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-primary duration-700 hover:underline mt-3">{{ 'navigation.about'|trans }}</a>
          </div>
        </div>

        <div class="flex flex-col gap-4">
          <h4>{{ 'footer.subscribe'|trans }}</h4>
            <div class="flex flex-col lg:flex-row gap-6">
              <input class="shadow-md rounded-lg w-80 py-2 px-3 text-lg" placeholder="Email" type="" name="" value="">
              <button class="btn btn-orange flex self-start items-center lg:ml-2 gap-2">{{ 'footer.button'|trans }}<i class="fa-solid fa-circle-arrow-right fa-lg"></i></button>
            </div>
        </div>
      
      </footer>

    {% endblock %}

  </body>
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}

</html>
